# systemd unit file for Quassel Web
# Based on:  https://bbs.archlinux.org/viewtopic.php?id=148170
# And: https://blog.hqcodeshop.fi/archives/93-Handling-varrun-with-systemd.html
[Unit]
Description=Quassel Web server for web-based IRC chatting
After=local-fs.target network.target

[Service]
Type=simple
User={{ salt['pillar.get']('server:chat:quassel:web:username', 'quassel-web') }}
SyslogIdentifier=quassel-webserver
Restart=on-failure
# Protections
# > Basic
ProtectSystem=strict
PrivateTmp=true
# > More thorough
ProtectHome=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectKernelModules=true
PrivateDevices=true
SystemCallArchitectures=native
CapabilityBoundingSet=~CAP_SYS_ADMIN
# > Allow writing to home directory and socket
# (Specific directory might not exist, allow more general access)
ReadWritePaths=/srv/{{ salt['pillar.get']('server:chat:quassel:web:username', 'quassel-web') }} /var/run
# ---
# Run NodeJS in production mode (caching, etc)
Environment=NODE_ENV=production
# Startup
# Run ExecStartPre with root-permissions to create socket
# Directory creation and socket deletion can fail, but chown ownership is required
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir {{ salt['pillar.get']('server:chat:quassel:web:socket_dir', '/var/run/quassel-web') }}
ExecStartPre=/bin/chown -R {{ salt['pillar.get']('server:chat:quassel:web:username', 'quassel-web') }}:{{ salt['pillar.get']('server:chat:quassel:web:username', 'quassel-web') }} {{ salt['pillar.get']('server:chat:quassel:web:socket_dir', '/var/run/quassel-web') }}
ExecStartPre=-/bin/rm {{ salt['pillar.get']('server:chat:quassel:web:socket_dir', '/var/run/quassel-web') }}/quassel-web.sock
# Run ExecStart with User/Group permissions above
ExecStart=/usr/bin/node "/srv/{{ salt['pillar.get']('server:chat:quassel:web:username', 'quassel-web') }}/quassel_web_root/qweb/quassel-webserver/app.js"
# Now handled by "settings-user.cjs"
# --socket="{{ salt['pillar.get']('server:chat:quassel:web:socket_dir', '/var/run/quassel-web') }}/quassel-web.sock"

[Install]
WantedBy=multi-user.target
