body {
	font-family: 'Open Sans', arial; /* I prefer non-serif fonts */
}

/* Responsive wrapper */
div#wrap {
	border-radius: 0.5em;
	margin-left: auto;
	margin-right: auto;
	/* Original: max-width: 50em;*/
	padding: 1.5em;
	/* Fallback */
	width: 100%;
	/* Goal - include background a bit */
	width: calc(100% - 0.5em);
}

@media only screen and (max-width: 50em) {
	div#wrap {
		border-radius: 0.25em;
		padding: 0.25em;
	}
}

@media only screen and (max-width: 70em) and (min-width: 50.001em) {
	div#wrap {
		width: 46em;
		/* Subtract padding, 50em - 1.5em * 2, then -1em for some reason */
	}
}

@media only screen and (min-width: 70em) {
	div#wrap {
		width: calc(85% - 12em);
		max-width: 60em;
	}
}
/* End wrapper */

/* https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag */
pre {
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* Based on Github's <code> tag */
code {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	/* Originally 0.2em */
	padding-left: 0.4em;
	padding-right: 0.4em;
	/* Originally unset */
	margin: 0;
	/* font-size: 90%; */
	/* Originally 85% */
	border-radius: 3px;
}

div.subtext {
	padding-left: 0.5em;
}

img.img_embed {
	max-height: 35em;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 1em;
}

img.img_thumb {
	max-height: 10em;
	display: block;
	padding-bottom: 1em;
}

img.img_embed_comic {
	max-height: 100%;
}

img.img_link_icon {
	vertical-align: middle;
	padding-right: 0.5em;
}

img.img_link_icon_small {
	width: 2em;
	height: 2em;
}

ol.list_toc_section {
	padding-top: 0.5em;
}

li {
	padding-bottom: 0.5em;
}

ul.list_simple {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.list_apps {
	margin: auto;
	max-width: 80%;
	width: 300px;
	min-width: 200px;
}

a.list_button {
	width: 100%;
}

/* Based on justJanne's Material design CSS */
a.link_button {
	border-radius: 3px;
	display: inline-block;
	padding: 0.5em;
	margin: 3px;
	min-width: 5rem;
	text-align: center;
	/* text-decoration: none; */
	/* This can make it difficult to tell if it's a button/link when given proper contrast */
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
