# Part of archive-run-backup.service
# See https://wiki.archlinux.org/index.php/Systemd/Timers
[Unit]
Description=Run system-wide backup

[Timer]
# Run once a day (midnight)
# See systemd-analyze calendar daily
OnCalendar=daily
# Catch up as soon as possible
Persistent=true
# Randomize start
RandomizedDelaySec=3hr

[Install]
WantedBy=timers.target
